server {
  listen 80;

  root {{ document_root }}/{{ app_root }};
  index index.html;

  server_name {{ server_name }};
  
  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}